<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/7db2fb08-c83a-440f-b914-10b4ffa9f17e/resourcegroups/LibrarySystem_RG/providers/Microsoft.ContainerRegistry/registries/CLIRInfoSystem20260211074334</ContainerResourceId>
    <ContainerResourceName>CLIRInfoSystem20260211074334</ContainerResourceName>
    <Subscription>Azure for Students</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>clirinfosystem20260211074334.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ContainerName>clirinfosystem</ContainerName>
    <EnvironmentName>CLIRInfoSystem-env-20260211073606</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://clirinfosystem-app-2026021107360.kindocean-ef8e76df.southeastasia.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <IngressTargetPort>8080</IngressTargetPort>
    <ResourceId>/subscriptions/7db2fb08-c83a-440f-b914-10b4ffa9f17e/resourceGroups/LibrarySystem_RG/providers/Microsoft.App/containerApps/clirinfosystem-app-2026021107360</ResourceId>
    <ResourceGroup>LibrarySystem_RG</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>AzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>