@model CLIR_InfoSystem.Models.BookBorrowing

<div id="bm-page-container">
    <div class="bm-card-component">
        <h3 class="bm-card-title">Add New Book</h3>
        <p style="color: #6B7280; font-size: 14px;">Enter the details to register a new book in the system.</p>
        <hr />

        <form asp-action="AddBorrower" method="post">

            <div class="bm-form-group">
                <label>Patron ID</label>
                <input asp-for="PatronId" class="bm-form-input" placeholder="e.g. B000000001" required />
            </div>

            <div class="bm-form-group">
                <label>Accession ID</label>
                <input asp-for="AccessionId" class="bm-form-input" placeholder="e.g. B000000001" required />
            </div>

            <div class="bm-form-group">
                <label>Staff-in-Charge (Change later so that staff id is used)</label>
                <input asp-for="StaffInCharge" class="bm-form-input" placeholder="e.g. B000000001" required />
            </div>

            <input type="hidden" asp-for="Status" value="Borrowed" />
            <div class="bm-form-actions" style="margin-top: 20px;">
                <button type="submit" class="bm-btn-primary">Add Book</button>
                <a asp-action="BookManagement" class="bm-btn-secondary">Back to List</a>
            </div>
        </form>

    </div>
</div>