# Build Folders
bin/
obj/
*.user
*.suo
*.vscode/

# Visual Studio
.vs/
*.ncb
*.sdf
*.cache
*.log
*.suo
*.pdb

# Rider / JetBrains
.idea/

# Others
*.DS_Store
*.db
*.sqlite
CLIR-InfoSystem/obj/CLIR_InfoSystem.csproj.nuget.dgspec.json
CLIR-InfoSystem/obj/Debug/net10.0/apphost.exe
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.AssemblyInfo.cs
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.AssemblyInfoInputs.cache
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.assets.cache
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.csproj.CoreCompileInputs.cache
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.csproj.FileListAbsolute.txt
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.dll
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.GeneratedMSBuildEditorConfig.editorconfig
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.genruntimeconfig.cache
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.pdb
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.sourcelink.json
CLIR-InfoSystem/obj/Debug/net10.0/rbcswa.dswa.cache.json
CLIR-InfoSystem/obj/Debug/net10.0/ref/CLIR_InfoSystem.dll
CLIR-InfoSystem/obj/Debug/net10.0/refint/CLIR_InfoSystem.dll
CLIR-InfoSystem/obj/Debug/net10.0/rjimswa.dswa.cache.json
CLIR-InfoSystem/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
CLIR-InfoSystem/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
CLIR-InfoSystem/obj/Debug/net10.0/rpswa.dswa.cache.json
CLIR-InfoSystem/obj/Debug/net10.0/staticwebassets.build.endpoints.json
CLIR-InfoSystem/obj/Debug/net10.0/staticwebassets.build.json
CLIR-InfoSystem/obj/Debug/net10.0/staticwebassets.build.json.cache
CLIR-InfoSystem/obj/Debug/net10.0/staticwebassets.development.json
CLIR-InfoSystem/obj/Debug/net10.0/staticwebassets.removed.txt
CLIR-InfoSystem/obj/Debug/net10.0/staticwebassets.upToDateCheck.txt
CLIR-InfoSystem/obj/project.assets.json
CLIR-InfoSystem/obj/project.nuget.cache
CLIR-InfoSystem/obj/project.nuget.cache
CLIR-InfoSystem/obj/project.assets.json
CLIR-InfoSystem/obj/Debug/net10.0/staticwebassets.upToDateCheck.txt
CLIR-InfoSystem/obj/Debug/net10.0/staticwebassets.removed.txt
CLIR-InfoSystem/obj/Debug/net10.0/staticwebassets.development.json
CLIR-InfoSystem/obj/Debug/net10.0/staticwebassets.build.json.cache
CLIR-InfoSystem/obj/Debug/net10.0/staticwebassets.build.json
CLIR-InfoSystem/obj/Debug/net10.0/staticwebassets.build.endpoints.json
CLIR-InfoSystem/obj/Debug/net10.0/rpswa.dswa.cache.json
CLIR-InfoSystem/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
CLIR-InfoSystem/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
CLIR-InfoSystem/obj/Debug/net10.0/rjimswa.dswa.cache.json
CLIR-InfoSystem/obj/Debug/net10.0/refint/CLIR_InfoSystem.dll
CLIR-InfoSystem/obj/Debug/net10.0/ref/CLIR_InfoSystem.dll
CLIR-InfoSystem/obj/Debug/net10.0/rbcswa.dswa.cache.json
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.sourcelink.json
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.pdb
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.genruntimeconfig.cache
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.GeneratedMSBuildEditorConfig.editorconfig
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.dll
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.csproj.FileListAbsolute.txt
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.csproj.CoreCompileInputs.cache
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.csproj.AssemblyReference.cache
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.assets.cache
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.AssemblyInfoInputs.cache
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.AssemblyInfo.cs
CLIR-InfoSystem/obj/Debug/net10.0/apphost.exe
CLIR-InfoSystem/obj/CLIR_InfoSystem.csproj.nuget.g.targets
CLIR-InfoSystem/obj/CLIR_InfoSystem.csproj.nuget.g.props
CLIR-InfoSystem/obj/CLIR_InfoSystem.csproj.nuget.dgspec.json
CLIR-InfoSystem/bin/Debug/net10.0/CLIR_InfoSystem.staticwebassets.runtime.json
CLIR-InfoSystem/bin/Debug/net10.0/CLIR_InfoSystem.staticwebassets.endpoints.json
CLIR-InfoSystem/bin/Debug/net10.0/CLIR_InfoSystem.pdb
CLIR-InfoSystem/bin/Debug/net10.0/CLIR_InfoSystem.exe
CLIR-InfoSystem/bin/Debug/net10.0/CLIR_InfoSystem.dll
CLIR-InfoSystem/bin/Debug/net10.0/CLIR_InfoSystem.deps.json
.vs/ProjectEvaluation/clir-infosystem.strings.v10.bin
.vs/ProjectEvaluation/clir-infosystem.projects.v10.bin
.vs/ProjectEvaluation/clir-infosystem.metadata.v10.bin
.vs/CLIR-InfoSystem/CopilotIndices/18.0.981.45449/SemanticSymbols.db
.vs/CLIR-InfoSystem/CopilotIndices/18.0.981.45449/CodeChunks.db
.vs/CLIR-InfoSystem.slnx/v18/DocumentLayout.json
.vs/CLIR-InfoSystem.slnx/v18/DocumentLayout.backup.json
.vs/CLIR-InfoSystem.slnx/v18/.suo
.vs/CLIR-InfoSystem.slnx/v18/.futdcache.v2
.vs/CLIR-InfoSystem.slnx/DesignTimeBuild/.dtbcache.v2
CLIR-InfoSystem/obj/project.nuget.cache
CLIR-InfoSystem/obj/project.assets.json
CLIR-InfoSystem/obj/Debug/net10.0/staticwebassets.upToDateCheck.txt
CLIR-InfoSystem/obj/Debug/net10.0/staticwebassets.removed.txt
CLIR-InfoSystem/obj/Debug/net10.0/staticwebassets.development.json
CLIR-InfoSystem/obj/Debug/net10.0/staticwebassets.build.json.cache
CLIR-InfoSystem/obj/Debug/net10.0/staticwebassets.build.json
CLIR-InfoSystem/obj/Debug/net10.0/staticwebassets.build.endpoints.json
CLIR-InfoSystem/obj/Debug/net10.0/scopedcss/projectbundle/CLIR_InfoSystem.bundle.scp.css
CLIR-InfoSystem/obj/Debug/net10.0/scopedcss/bundle/CLIR_InfoSystem.styles.css
CLIR-InfoSystem/obj/Debug/net10.0/rpswa.dswa.cache.json
CLIR-InfoSystem/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
CLIR-InfoSystem/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
CLIR-InfoSystem/obj/Debug/net10.0/rjimswa.dswa.cache.json
CLIR-InfoSystem/obj/Debug/net10.0/refint/CLIR_InfoSystem.dll
CLIR-InfoSystem/obj/Debug/net10.0/ref/CLIR_InfoSystem.dll
CLIR-InfoSystem/obj/Debug/net10.0/rbcswa.dswa.cache.json
CLIR-InfoSystem/obj/Debug/net10.0/compressed/o6y394i0ub-{0}-3c6ftgrlis-3c6ftgrlis.gz
CLIR-InfoSystem/obj/Debug/net10.0/compressed/c18lwdhhnd-{0}-3c6ftgrlis-3c6ftgrlis.gz
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.sourcelink.json
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.pdb
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.genruntimeconfig.cache
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.GeneratedMSBuildEditorConfig.editorconfig
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.dll
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.csproj.FileListAbsolute.txt
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.csproj.CoreCompileInputs.cache
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.csproj.AssemblyReference.cache
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.assets.cache
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.AssemblyInfoInputs.cache
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.AssemblyInfo.cs
CLIR-InfoSystem/obj/Debug/net10.0/apphost.exe
CLIR-InfoSystem/obj/CLIR_InfoSystem.csproj.nuget.g.targets
CLIR-InfoSystem/obj/CLIR_InfoSystem.csproj.nuget.g.props
CLIR-InfoSystem/obj/CLIR_InfoSystem.csproj.nuget.dgspec.json
CLIR-InfoSystem/obj/project.nuget.cache
CLIR-InfoSystem/obj/project.assets.json
CLIR-InfoSystem/obj/Debug/net10.0/staticwebassets.upToDateCheck.txt
CLIR-InfoSystem/obj/Debug/net10.0/staticwebassets.removed.txt
CLIR-InfoSystem/obj/Debug/net10.0/staticwebassets.development.json
CLIR-InfoSystem/obj/Debug/net10.0/staticwebassets.build.json.cache
CLIR-InfoSystem/obj/Debug/net10.0/staticwebassets.build.json
CLIR-InfoSystem/obj/Debug/net10.0/staticwebassets.build.endpoints.json
CLIR-InfoSystem/obj/Debug/net10.0/scopedcss/projectbundle/CLIR_InfoSystem.bundle.scp.css
CLIR-InfoSystem/obj/Debug/net10.0/scopedcss/bundle/CLIR_InfoSystem.styles.css
CLIR-InfoSystem/obj/Debug/net10.0/rpswa.dswa.cache.json
CLIR-InfoSystem/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
CLIR-InfoSystem/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
CLIR-InfoSystem/obj/Debug/net10.0/rjimswa.dswa.cache.json
CLIR-InfoSystem/obj/Debug/net10.0/refint/CLIR_InfoSystem.dll
CLIR-InfoSystem/obj/Debug/net10.0/ref/CLIR_InfoSystem.dll
CLIR-InfoSystem/obj/Debug/net10.0/rbcswa.dswa.cache.json
CLIR-InfoSystem/obj/Debug/net10.0/compressed/o6y394i0ub-{0}-3c6ftgrlis-3c6ftgrlis.gz
CLIR-InfoSystem/obj/Debug/net10.0/compressed/c18lwdhhnd-{0}-3c6ftgrlis-3c6ftgrlis.gz
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.sourcelink.json
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.pdb
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.genruntimeconfig.cache
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.GeneratedMSBuildEditorConfig.editorconfig
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.dll
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.csproj.FileListAbsolute.txt
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.csproj.CoreCompileInputs.cache
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.csproj.AssemblyReference.cache
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.assets.cache
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.AssemblyInfoInputs.cache
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.AssemblyInfo.cs
CLIR-InfoSystem/obj/Debug/net10.0/apphost.exe
CLIR-InfoSystem/obj/CLIR_InfoSystem.csproj.nuget.g.targets
CLIR-InfoSystem/obj/CLIR_InfoSystem.csproj.nuget.g.props
CLIR-InfoSystem/obj/CLIR_InfoSystem.csproj.nuget.dgspec.json
CLIR-InfoSystem/obj/project.nuget.cache
CLIR-InfoSystem/obj/project.assets.json
CLIR-InfoSystem/obj/Debug/net10.0/staticwebassets.upToDateCheck.txt
CLIR-InfoSystem/obj/Debug/net10.0/staticwebassets.removed.txt
CLIR-InfoSystem/obj/Debug/net10.0/staticwebassets.development.json
CLIR-InfoSystem/obj/Debug/net10.0/staticwebassets.build.json.cache
CLIR-InfoSystem/obj/Debug/net10.0/staticwebassets.build.json
CLIR-InfoSystem/obj/Debug/net10.0/staticwebassets.build.endpoints.json
CLIR-InfoSystem/obj/Debug/net10.0/scopedcss/projectbundle/CLIR_InfoSystem.bundle.scp.css
CLIR-InfoSystem/obj/Debug/net10.0/scopedcss/bundle/CLIR_InfoSystem.styles.css
CLIR-InfoSystem/obj/Debug/net10.0/rpswa.dswa.cache.json
CLIR-InfoSystem/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
CLIR-InfoSystem/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
CLIR-InfoSystem/obj/Debug/net10.0/rjimswa.dswa.cache.json
CLIR-InfoSystem/obj/Debug/net10.0/refint/CLIR_InfoSystem.dll
CLIR-InfoSystem/obj/Debug/net10.0/ref/CLIR_InfoSystem.dll
CLIR-InfoSystem/obj/Debug/net10.0/rbcswa.dswa.cache.json
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.sourcelink.json
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.pdb
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.genruntimeconfig.cache
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.GeneratedMSBuildEditorConfig.editorconfig
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.dll
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.csproj.FileListAbsolute.txt
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.csproj.CoreCompileInputs.cache
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.csproj.AssemblyReference.cache
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.assets.cache
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.AssemblyInfoInputs.cache
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.AssemblyInfo.cs
CLIR-InfoSystem/obj/Debug/net10.0/apphost.exe
CLIR-InfoSystem/obj/CLIR_InfoSystem.csproj.nuget.g.targets
CLIR-InfoSystem/obj/CLIR_InfoSystem.csproj.nuget.g.props
CLIR-InfoSystem/obj/CLIR_InfoSystem.csproj.nuget.dgspec.json
.vs/CLIR-InfoSystem.slnx/DesignTimeBuild/.dtbcache.v2
.vs/CLIR-InfoSystem.slnx/v18/.futdcache.v2
.vs/CLIR-InfoSystem.slnx/v18/.suo
.vs/CLIR-InfoSystem.slnx/v18/DocumentLayout.backup.json
.vs/CLIR-InfoSystem.slnx/v18/DocumentLayout.json
.vs/CLIR-InfoSystem/CopilotIndices/18.0.981.45449/CodeChunks.db
.vs/CLIR-InfoSystem/CopilotIndices/18.0.981.45449/SemanticSymbols.db
.vs/ProjectEvaluation/clir-infosystem.metadata.v10.bin
.vs/ProjectEvaluation/clir-infosystem.projects.v10.bin
.vs/ProjectEvaluation/clir-infosystem.strings.v10.bin
CLIR-InfoSystem/bin/Debug/net10.0/CLIR_InfoSystem.deps.json
CLIR-InfoSystem/bin/Debug/net10.0/CLIR_InfoSystem.dll
CLIR-InfoSystem/bin/Debug/net10.0/CLIR_InfoSystem.exe
CLIR-InfoSystem/bin/Debug/net10.0/CLIR_InfoSystem.pdb
CLIR-InfoSystem/bin/Debug/net10.0/CLIR_InfoSystem.staticwebassets.endpoints.json
CLIR-InfoSystem/bin/Debug/net10.0/CLIR_InfoSystem.staticwebassets.runtime.json
