# Build Folders
bin/
obj/
*.user
*.suo
*.vscode/

# Visual Studio
.vs/
*.ncb
*.sdf
*.cache
*.log
*.suo
*.pdb

# Rider / JetBrains
.idea/

# Others
*.DS_Store
*.db
*.sqlite
CLIR-InfoSystem/obj/CLIR_InfoSystem.csproj.nuget.dgspec.json
CLIR-InfoSystem/obj/Debug/net10.0/apphost.exe
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.AssemblyInfo.cs
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.AssemblyInfoInputs.cache
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.assets.cache
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.csproj.CoreCompileInputs.cache
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.csproj.FileListAbsolute.txt
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.dll
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.GeneratedMSBuildEditorConfig.editorconfig
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.genruntimeconfig.cache
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.pdb
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.sourcelink.json
CLIR-InfoSystem/obj/Debug/net10.0/rbcswa.dswa.cache.json
CLIR-InfoSystem/obj/Debug/net10.0/ref/CLIR_InfoSystem.dll
CLIR-InfoSystem/obj/Debug/net10.0/refint/CLIR_InfoSystem.dll
CLIR-InfoSystem/obj/Debug/net10.0/rjimswa.dswa.cache.json
CLIR-InfoSystem/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
CLIR-InfoSystem/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
CLIR-InfoSystem/obj/Debug/net10.0/rpswa.dswa.cache.json
CLIR-InfoSystem/obj/Debug/net10.0/staticwebassets.build.endpoints.json
CLIR-InfoSystem/obj/Debug/net10.0/staticwebassets.build.json
CLIR-InfoSystem/obj/Debug/net10.0/staticwebassets.build.json.cache
CLIR-InfoSystem/obj/Debug/net10.0/staticwebassets.development.json
CLIR-InfoSystem/obj/Debug/net10.0/staticwebassets.removed.txt
CLIR-InfoSystem/obj/Debug/net10.0/staticwebassets.upToDateCheck.txt
CLIR-InfoSystem/obj/project.assets.json
CLIR-InfoSystem/obj/project.nuget.cache
CLIR-InfoSystem/obj/project.nuget.cache
CLIR-InfoSystem/obj/project.assets.json
CLIR-InfoSystem/obj/Debug/net10.0/staticwebassets.upToDateCheck.txt
CLIR-InfoSystem/obj/Debug/net10.0/staticwebassets.removed.txt
CLIR-InfoSystem/obj/Debug/net10.0/staticwebassets.development.json
CLIR-InfoSystem/obj/Debug/net10.0/staticwebassets.build.json.cache
CLIR-InfoSystem/obj/Debug/net10.0/staticwebassets.build.json
CLIR-InfoSystem/obj/Debug/net10.0/staticwebassets.build.endpoints.json
CLIR-InfoSystem/obj/Debug/net10.0/rpswa.dswa.cache.json
CLIR-InfoSystem/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
CLIR-InfoSystem/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
CLIR-InfoSystem/obj/Debug/net10.0/rjimswa.dswa.cache.json
CLIR-InfoSystem/obj/Debug/net10.0/refint/CLIR_InfoSystem.dll
CLIR-InfoSystem/obj/Debug/net10.0/ref/CLIR_InfoSystem.dll
CLIR-InfoSystem/obj/Debug/net10.0/rbcswa.dswa.cache.json
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.sourcelink.json
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.pdb
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.genruntimeconfig.cache
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.GeneratedMSBuildEditorConfig.editorconfig
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.dll
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.csproj.FileListAbsolute.txt
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.csproj.CoreCompileInputs.cache
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.csproj.AssemblyReference.cache
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.assets.cache
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.AssemblyInfoInputs.cache
CLIR-InfoSystem/obj/Debug/net10.0/CLIR_InfoSystem.AssemblyInfo.cs
CLIR-InfoSystem/obj/Debug/net10.0/apphost.exe
CLIR-InfoSystem/obj/CLIR_InfoSystem.csproj.nuget.g.targets
CLIR-InfoSystem/obj/CLIR_InfoSystem.csproj.nuget.g.props
CLIR-InfoSystem/obj/CLIR_InfoSystem.csproj.nuget.dgspec.json
